!!!
%html
  %head
    %title Tadpole: A Small but Extensible Templating Engine
    
  %body
    #page
      #title
        :markdown
          #{yield}

      #content= yield

      #copyright
        :markdown
          #{yield}
    